* {
    margin: 0;    
    font-family: 'Anek Tamil', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.content {
    width: 80%;
    padding: 1em 1em 5em;
}

h2 {
    text-align: center;
    font-size: 44px;
    padding: 10px 0px;
}

/* Style the navbar */
#logo {
    display: block;
    float: left;
}
#logo a {
    font-family: 'Pacifico', cursive;
    color: #2D2C3F;
    font-size: 30px;
    text-decoration: none;
    transition-duration: 0.5s;
}
#logo a:hover {
    color: #6370b8;
}
#header-menu {
    overflow: hidden;
    padding: 10px;
  }

#navigation {
    float: right;
    margin: 0;
}

/* Navbar links */
#navigation li {
    float: left;
    display: block;
    text-align: center;
    padding: 0 10px;
    }
#navigation li:hover {
    background-color: rgba(185, 177, 205, 0.2);
    }
nav a {
    text-decoration: none;
    color: #2D2C3F;
    transition-duration: 0.5s;
    font-weight: bold;
    font-size: 20px;
    }
nav a:hover {
    color: #6370b8;
}


header {
    height: 100vh;
    min-height: 900px;
    background-image: url(../images/header_background.png);
    background-size: cover;
    background-position: center;
    color: #2D2C3F;
    position: relative;
    }

header h1 {
    font-size: 140px;
    text-align: center;
    padding-top: 3em;
    font-weight: bold;
}

#roles span {
    position: absolute;
    left: 30%;
    top: 25%;
    font-weight: lighter;
    font-size: 28px;
}
#get-in-touch {
    margin: auto;
    text-align: center;
    font-weight: lighter;
}
#get-in-touch button {
    padding: 5px 3em;
    border: 2px solid #49517C;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
    }
#get-in-touch * {
    color: white;
    background-color: transparent;
    box-shadow: none;
    font-size: 32px;
    }

#get-in-touch i {
    padding: 5px;
}

#get-in-touch button:hover {
    cursor: pointer;
    box-shadow:0 0 20px rgb(130, 205, 248);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

#get-in-touch button:hover span {
    color: #3A3B59;
}

#get-in-touch button:hover i {
    color: #3A3B59;
}

#get-in-touch button:active{
    background-color: #302F47;
}

#networks {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    padding-top: 5em;
}

#networks i {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.9);
    }

#networks i:hover {
    color: white;
    text-shadow:0 0 20px rgb(130, 205, 248);
    border-radius: 50%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2E2D41;
    height: 3em;
    transition-duration: 0.5s;
}
.sticky a {
    color: #F7DBD4;
}
.sticky #logo a {
    color: #F7DBD4;
}
    
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
    } 



/* --------------------------------- ABOUT section -----------------------------*/


h2 i {
    font-size: 38px;
    padding-right: 10px;
}
.content {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    margin: auto;
    
}
#about p {
    font-size: 18px;
    padding-top: 2em;
}

#about img {
    width: 15%;
    margin: 0em 4em 1em 1em;
    float: left;
    
}

/* --------------------------------- PROJECTS section -----------------------------*/

#projects {
    background-color: #fff4ee;
}

#projects .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
#projects h2 {
    flex: 1 100%;
}
#projects .project-card {
    flex: 1 1 0px;
    margin: auto;
}
#projects img {
    width: 100%;
    display: block;
}
#projects .img-wrapper {
    width: 60%;
    margin: auto;
}

#projects h3 {
    text-align: center;
}

#projects a {
    text-decoration: none;
    color: #2E2D41;
}

#projects p {
    width: 60%;
    text-align: center;
    margin: auto;
    color: #2E2D41;
    font-size: 16px;
    padding-top: 1em;
}


/* -----------------------------     CV section       -----------------------------*/
#cv-subnav {
    height: 1.2em;
    background-color: #8990b8;
}
#cv-subnav li {
    float: left;
    display: block;
    text-align: center;
    padding: 0 10px;
}

#cv h3 {
    clear: both;
    margin: .5em 0em;
}
#cv .chosen-cv {
    background-color: #49517C;
}
#cv .chosen-cv a{
    color: white;
}
#cv-content {
    margin-top: 1em;
}
#cv-subnav a:hover {
    color: white;
}
/* --------------------------------- COMPETETIONS section --------------------------*/
#competitions {
    background-color: #fff4ee;
}
#competitions a {
    text-decoration: none;
} 

/* --------------------------------- FOOTER section -----------------------------*/

#footer {
    font-size: 14px;
    background-color: #2E2D41;
    color: #F7DBD4;
    text-align: center;
}

#about, #projects, #cv, #competitions {
    padding-top: 60px;
    margin-top: -60px;
    }